/* .quiz-btn {
    border-radius: 15px;
    outline: none;
    border: 1px solid white;
    background-color: green;
    color: white;
    padding: 6px;
    width: -webkit-fill-available;
    margin-top: 10px;
    filter: drop-shadow(1px 1px 4px rgba(12,11,15,0.3))
} */

.option{
    margin: 10px 0;
}

.option input{
    margin-right: 10px;
}

.submitButton{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
    transition: background-color 0.3s;
    filter: drop-shadow(1px 1px 4px rgba(12,11,15,0.3));
}

.submitButton:hover{
    background-color: #0056b3;
}